h1 {
    font-family: Arial, "Times New Roman";
    font-size: 44px; 
    font-style: italic;
    font-weight: 100;
    text-align: center;
    text-transform: capitalize;
    color: #e2726E; 
}

h2 {
    font-family: Arial, "Times New Roman";
    font-size: 22px; 
    font-style: italic;
    color: goldenrod

}

a{

    color: red
}

body {

    background-image: linear-gradient(90deg, #581846, #900C3F, #C70039, #FF5733, #FFC300);

}
